---
import Navbar from '../../components/Navbar.astro';
import Footer from '../../components/Footer.astro';
import '../../styles/global.css'
import { Image } from "astro:assets";
const { slug } = Astro.params;


import 'remixicon/fonts/remixicon.css';
let data = [];

try {
    const fetchUrl = `https://www.sankavollerei.com/anime/zoronime/search/${slug}?page=1`;
    const res = await fetch(fetchUrl);
    const anime = await res.json();
    data = anime.animes || [];
    
    console.log(anime);
} catch (err) {
    console.error("Search error:", err);
}
---


<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
    <title>Pencarian {slug}</title>
</head>
<body class="dark:bg-gray-900"> 
    <Navbar/>

    <!-- Form search -->
    <form onsubmit="event.preventDefault(); window.location.href = '/search/' + this.search.value;" class="flex justify-center items-center px-4">
        <div class="rounded-full mt-6 flex items-center w-full max-w-md h-12 mb-4 bg-gray-800 text-gray-600">
            <input 
                type="text" 
                placeholder="Cari Anime!" 
                name="search" 
                class="bg-transparent w-full border-0 outline-0 px-4"
            >
            <button type="submit" class="px-3">
                <i class="ri-search-line text-lg text-gray-500"></i>
            </button>
        </div>
    </form>

    <h1 class="text-2xl md:text-4xl text-indigo-500 text-center font-bold mt-4">Hasil Pencarian: {slug}</h1>

    <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-5 px-4 md:px-6">
        {data.length === 0 && (
        <div class="col-span-full flex justify-center items-center h-40">
            <p class="text-center text-indigo-500">Tidak ada hasil.</p>
        </div>
        )}

        {data.map((anime) => (
        <div class="flex flex-col rounded-md p-3 sm:p-5 hover:scale-105 transition-transform bg-gray-800" key={anime.slug}>
            <a href={`/detail/${anime.slug}`}>
                <Image src={anime.poster} width={350} height={350} class="rounded-md shadow-lg w-full h-auto" alt="anime-poster" />
            </a>
            <h1 class="font-bold text-indigo-500 mt-2 text-sm sm:text-base truncate">{anime.title}</h1>
            <p class="text-xs sm:text-sm text-indigo-400 mt-1">Total Eps: {anime.episode_or_type}</p>

            <div class="flex justify-between items-center mt-2 gap-2">
                <p class="text-xs sm:text-sm bg-indigo-500 rounded-full text-white w-fit py-1 px-2">{anime.score}</p>
                <a href={`/anime/${anime.slug}`} class="bg-indigo-500 flex gap-1 items-center text-white text-xs sm:text-sm font-bold px-3 py-1 rounded-full">
                    <i class="ri-play-mini-fill"></i> Tonton
                </a>
            </div>
        </div>
        ))}
    </div>

    <Footer/>
</body>
</html>
